# Analysis of weather trends in Rochester

In [97]:
import pandas as pd
import matplotlib.pyplot as plt

### Importing CSV files using pandas

In [98]:
city_data = pd.read_csv("city_data.csv")
print(city_data.head())

   year     city        country  avg_temp
0  1849  Abidjan  Côte D'Ivoire     25.58
1  1850  Abidjan  Côte D'Ivoire     25.52
2  1851  Abidjan  Côte D'Ivoire     25.67
3  1852  Abidjan  Côte D'Ivoire       NaN
4  1853  Abidjan  Côte D'Ivoire       NaN

In [99]:
global_data = pd.read_csv("global_data.csv")
print(global_data.head())

   year  avg_temp
0  1750      8.72
1  1751      7.98
2  1752      5.78
3  1753      8.39
4  1754      8.47

In [100]:
city_list = pd.read_csv("city_list.csv")
print(city_list.head())

        city               country
0    Abidjan         Côte D'Ivoire
1  Abu Dhabi  United Arab Emirates
2      Abuja               Nigeria
3      Accra                 Ghana
4      Adana                Turkey

Number of unique cities

In [101]:
nunique_cities = city_list.city.nunique()
print(nunique_cities)

332

Check if New York exists in the list

In [102]:
newyorkExists = city_list[city_list.city == "New York"]
print(newyorkExists)

         city        country
225  New York  United States

Creating a data frame containing weather data for New York

In [103]:
nyWeather = city_data.loc[(city_data.city == "New York")&(city_data.avg_temp.notnull())]
print(len(nyWeather))

266

In [104]:
nyWeather = nyWeather.sort_values('year')

In [105]:
print(nyWeather.head())

       year      city        country  avg_temp
46341  1743  New York  United States      3.26
46342  1744  New York  United States     11.66
46343  1745  New York  United States      1.13
46348  1750  New York  United States     10.07
46349  1751  New York  United States     10.79

In [106]:
nyWeather['moving_average'] = nyWeather.avg_temp.rolling(3).mean()

In [107]:
print(nyWeather.head())

       year      city        country  avg_temp  moving_average
46341  1743  New York  United States      3.26             NaN
46342  1744  New York  United States     11.66             NaN
46343  1745  New York  United States      1.13            5.35
46348  1750  New York  United States     10.07            7.62
46349  1751  New York  United States     10.79            7.33

In [108]:
clean_global_data = global_data.loc[global_data.avg_temp.notnull()]
clean_global_data['moving_average'] = clean_global_data.avg_temp.rolling(3).mean()
print(clean_global_data.head())

   year  avg_temp  moving_average
0  1750      8.72             NaN
1  1751      7.98             NaN
2  1752      5.78        7.493333
3  1753      8.39        7.383333
4  1754      8.47        7.546667

## Line graph of Global temp vs NewYork temp

plt.figure()
plt.plot(range(len(clean_global_data)), clean_global_data['avg_temp])
plt.show()